---
// export interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;
import Calendar from "../assets/icons/calendar.png";
import Location from "../assets/icons/location.png";
import Liana4 from "../assets/sheet/liana4.svg";
import Hoja1 from "../assets/sheet/hoja1.svg";
import Huella1 from "../assets/paws/huella1.svg";
import Dino1 from "../assets/dinos/dino1.1.svg";
---

<>
  <section
    class="relative mt-20 w-full h-auto flex flex-col lg:flex-row gap-20"
  >
    <img
      alt="liana"
      src={Liana4}
      class="lg:hidden absolute w-[350px] top-[-3%] left-[40%] z-10"
    />
    <img
      alt="liana"
      src={Liana4}
      class="lg:hidden absolute w-[350px] top-[-32%] left-[-39%] z-10"
    />
    <img
      alt="hoja2"
      src={Huella1}
      class="lg:hidden absolute w-[100px] bottom-[67%] left-[0%] z-10 animate-wiggle-more animate-infinite animate-duration-[3000ms] animate-ease-in animate-alternate"
    />
    <img
      alt="hoja2"
      src={Huella1}
      class="lg:hidden absolute w-[100px] bottom-[57%] left-[0%] z-10 animate-wiggle-more animate-infinite animate-duration-[3000ms] animate-ease-in animate-alternate"
    />

    <img
      alt="hoja2"
      src={Huella1}
      class="lg:hidden absolute w-[85px] top-[-1%] right-[0%] z-10 animate-wiggle-more animate-infinite animate-duration-[2500ms] animate-ease-in animate-alternate"
    />
    <img
      alt="hoja2"
      src={Huella1}
      class="lg:hidden absolute w-[85px] top-[10%] right-[0%] z-10 animate-wiggle-more animate-infinite animate-duration-[2500ms] animate-ease-in animate-alternate"
    />
    <div class="w-full h-auto flex flex-col items-center gap-3">
      <img
        src={Calendar}
        alt="calendar"
        class="w-1/4 animate-wiggle animate-infinite animate-ease-in"
      />
      <label class="text-2xl text-yellowGreen">Fecha y hora:</label>
      <p class="fuenteChubby text-xl font-medium">
        9 de Septiembre 2023 <br /> La diversión comienza
        <br />a las 2:00 P.M.
      </p>
    </div>

    <div class="w-full h-auto flex flex-col items-center gap-3">
      <img
        src={Location}
        alt="calendar"
        class="w-1/4 animate-wiggle animate-infinite animate-ease-in"
      />
      <label class="text-2xl text-yellowGreen">Lugar:</label>
      <p class="fuenteChubby text-xl font-medium mb-5">
        Calle Juana Pavón #533 <br />Colonia Tenencia Morelos.
      </p>
      <iframe
        class="lg:hidden block"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d824.6182614868034!2d-101.2379632453976!3d19.6481397973004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0c63a1e65af7%3A0x48d11943cf053a27!2sSalon%20Regina!5e0!3m2!1ses!2smx!4v1690605225480!5m2!1ses!2smx"
        width="100%"
        height="400"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img
      alt="dino1"
      src={Dino1}
      class="lg:hidden absolute w-[118px] bottom-[-9%] left-[36%] z-10 animate-wiggle-more animate-infinite animate-duration-[2000ms] animate-ease-in animate-alternate"
    />
    <img
      alt="dino1"
      src={Hoja1}
      class="lg:hidden absolute w-[140px] bottom-[-12%] left-[66%] z-10 scale-x-[-1] animate-pulse animate-infinite animate-duration-[2000ms] animate-delay-500 animate-ease-in animate-alternate"
    />
    <img
      alt="Hoja1"
      src={Hoja1}
      class="lg:hidden absolute w-[140px] bottom-[-12%] left-[0%] z-10 animate-pulse animate-infinite animate-duration-[2000ms] animate-delay-500 animate-ease-in animate-alternate"
    />
  </section>
  <iframe
    class="lg:block hidden mt-5"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d824.6182614868034!2d-101.2379632453976!3d19.6481397973004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0c63a1e65af7%3A0x48d11943cf053a27!2sSalon%20Regina!5e0!3m2!1ses!2smx!4v1690605225480!5m2!1ses!2smx"
    width="100%"
    height="550"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@700&family=Indie+Flower&family=Shadows+Into+Light&family=Urbanist:ital@1&display=swap");

  .fuenteChubby {
    font-family: "Urbanist", sans-serif;
  }
</style>
